<div class="modal-header">
    <h4 class="modal-title">Crear persona</h4>
    <button type="button" class="close" (click)="activeModal.close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formPersona" class="needs-validation">
        <div class="form-group">
            <label for="identificacion">Identificacion</label>
            <input type="text" id="identificacion" formControlName="identificacion" placeholder="Ingrese la identificacion" class="form-control" name="identificacion" required class="form-control">
            <div *ngIf="(formPersona.get('identificacion').dirty || formPersona.get('identificacion').touched)">
                <div class="text-danger" *ngIf="formPersona.get('identificacion').errors?.required">
                    <small> * La identificacion es requerida</small>
                </div>
                <div class="text-danger" *ngIf="formPersona.get('identificacion').errors?.maxlength">
                    <small> * La identificacion no debe exceder los 20 caracteres</small>
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="Primer Nombre">Primer nombre</label>
            <input type="text" id="primerNombre" formControlName="primerNombre" placeholder="Ingrese primer nombre" class="form-control" name="primerNombre" required class="form-control">
            <div class="text-danger" *ngIf="formPersona.get('primerNombre').errors?.required && (formPersona.get('primerNombre').dirty || formPersona.get('primerNombre').touched)">
                <small> * El nombre es requerido</small>
            </div>
        </div>
        <div class="form-group">
            <label for="primerApellido">Primer apellido</label>
            <input type="text" id="primerApellido" formControlName="primerApellido" placeholder="Ingrese primer apellido" class="form-control" name="primerApellido" required class="form-control">
            <div class="text-danger" *ngIf="formPersona.get('primerApellido').errors?.required && (formPersona.get('primerApellido').dirty || formPersona.get('primerApellido').touched)">
                <small> * El apellido es requerido</small>
            </div>
        </div>
        <div class="form-group">
            <label for="formpicker">Fecha nacimiento</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="fechaNacimiento" formControlName="fechaNacimiento" required ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <fa-icon [icon]="faCalendar"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="text-danger" *ngIf="formPersona.get('fechaNacimiento').errors?.required && (formPersona.get('fechaNacimiento').dirty || formPersona.get('fechaNacimiento').touched)">
                <small> * La fecha de nacimiento es requerida</small>
            </div>
            <div class="text-danger" *ngIf="formPersona.get('fechaNacimiento').errors?.ngbDate?.invalid && (formPersona.get('fechaNacimiento').dirty || formPersona.get('fechaNacimiento').touched)">
                <small> * El formato de la fecha de nacimiento debe ser valida</small>
            </div>
        </div>
        <div class="form-group">
            <label for="nacionalidad">Nacionalidad</label>
            <input type="text" id="nacionalidad" formControlName="nacionalidad" placeholder="Ingrese la nacionalidad" class="form-control" name="nacionalidad" required class="form-control">
            <div class="text-danger" *ngIf="formPersona.get('nacionalidad').errors?.required && (formPersona.get('nacionalidad').dirty || formPersona.get('nacionalidad').touched)">
                <small> * El nacionalidad es requerido</small>
            </div>
        </div>
        <div class="form-group">
            <label for="genero">Genero</label>
            <select id="genero" formControlName="genero" class="form-control" name="genero" required class="form-control">
                <option value="0">-- Seleccione el genero --</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
            <div class="text-danger" *ngIf="formPersona.get('genero').errors?.required && (formPersona.get('genero').dirty || formPersona.get('genero').touched)">
                <small> * El genero es requerido</small>
            </div>
            <div class="text-danger" *ngIf="validarGenero() && (formPersona.get('genero').dirty || formPersona.get('genero').touched)">
                <small> * Seleccione un genero valido</small>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="guardar()" class="btn btn-primary">Guardar</button>
</div>