<br>
<div class="container">

    <div class="d-flex bd-highlight mb-3">
        <div class="p-2 flex-fill bd-highlight">
            <img src="../../../../assets/images.png" class="img-fluid" alt="Responsive image"></div>
        <div class="ml-auto p-2 flex-fill bd-highlight">
            <div class="card">
                <div class="card-header">
                    <h3> Iniciar sesion</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="formInicio">
                        <div class="form-group">
                            <label for="nombre">Usuario o correo</label>
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
                                </div>
                                <input type="text" formControlName="nombre" name="nombre" class="form-control" placeholder="Ingrese su usuario / correo electronico">

                            </div>
                            <div *ngIf="(formInicio.get('nombre').dirty || formInicio.get('nombre').touched)">
                                <div class="text-danger" *ngIf="formInicio.get('nombre').errors?.required">
                                    <small> * Ingrese su nombre de usuario o correo electronico</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="contrasenia">Contraseña</label>
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><fa-icon [icon]="faLock"></fa-icon></span>
                                </div>
                                <input type="password" (keyup.enter)="iniciarSesion()" formControlName="contrasenia" id="contrasenia" placeholder="Ingrese su contraseña" class="form-control" name="contrasenia" required class="form-control">

                            </div>
                            <div *ngIf="(formInicio.get('contrasenia').dirty || formInicio.get('contrasenia').touched)">
                                <div class="text-danger" *ngIf="formInicio.get('contrasenia').errors?.required">
                                    <small> * Ingrese su contraseña</small>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="button" (click)="iniciarSesion()" class="btn btn-block btn-primary">Iniciar sesion</button>
                    </form>
                    <br>
                    <hr> No tiene una cuenta?&nbsp;<a routerLink="/registro">Registrese aqui</a>
                </div>

            </div>
        </div>
    </div>
</div>