<div class="card" style="margin-left: 25%;margin-right: 25%;">
    <div class="card-header">
        Registro de Usuarios
    </div>
    <div class="card-body">
        <form [formGroup]="formPersona">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombre">Usuario</label>
                        <input type="text" id="nombre" formControlName="nombre" placeholder="Ingrese su nombre de usuario" class="form-control" name="nombre" required class="form-control">
                        <div *ngIf="(formPersona.get('nombre').dirty || formPersona.get('nombre').touched)">
                            <div class="text-danger" *ngIf="formPersona.get('nombre').errors?.required">
                                <small> * El nombre de usuario es requerido</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="correoElectronico">Correo</label>
                        <input type="email" id="correoElectronico" formControlName="correoElectronico" placeholder="Ingrese su correo electronico" class="form-control" name="correoElectronico" required class="form-control">
                        <div *ngIf="(formPersona.get('correoElectronico').dirty || formPersona.get('correoElectronico').touched)">
                            <div class="text-danger" *ngIf="formPersona.get('correoElectronico').errors?.required">
                                <small> * El correo electronico es requerido</small>
                            </div>
                            <div class="text-danger" *ngIf="formPersona.get('correoElectronico').errors?.email">
                                <small> * Ingrese un formato de correo electronico valido</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="contrasenia">Contraseña</label>
                <input type="password" id="contrasenia" formControlName="contrasenia" placeholder="Ingrese su contraseña" class="form-control" name="contrasenia" required class="form-control">
                <div *ngIf="(formPersona.get('contrasenia').dirty || formPersona.get('contrasenia').touched)">
                    <div class="text-danger" *ngIf="formPersona.get('contrasenia').errors?.required">
                        <small> * La contraseña es requerida</small>
                    </div>
                    <div class="text-danger" *ngIf="formPersona.get('contrasenia').errors?.minlength">
                        <small> * La contraseña debe tener un minimo de 8 caracteres</small>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="contrasenia2">Confirmar contraseña</label>
                <input type="password" id="contrasenia2" formControlName="contrasenia2" placeholder="Confirme su contraseña" class="form-control" name="contrasenia2" required class="form-control">
                <div *ngIf="(formPersona.get('contrasenia2').dirty || formPersona.get('contrasenia2').touched)">
                    <div class="text-danger" *ngIf="formPersona.get('contrasenia2').errors?.required">
                        <small> * Debe confirmar su contraseña</small>
                    </div>
                    <div class="text-danger" *ngIf="validarContrasenia()">
                        <small> * Las contraseñas deben coincidir</small>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="button" (click)="guardar()" class="btn btn-primary">Guardar</button>
    </div>
</div>