<div class="card" style="margin-left: 10%;margin-right: 10%;">
    <div class="card-header">
        Personas
    </div>
    <div class="card-body">
        <div class="d-flex bd-highlight mb-3">
            <button type="button" class="btn btn-primary" (click)="nuevo()">Agregar</button>&nbsp;
            <input type="text" #buscarText (keyup)="buscar(buscarText.value)" class="form-control" placeholder="Buscar" autocomplete="off">
        </div>

        <table class="table table-striped table-responsive table-hover table-bordered">
            <thead>
                <tr>
                    <th>Identificacion</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Fecha de nacimiento</th>
                    <th>Sexo</th>
                    <th>Nacionalidad</th>
                    <th>Gestiones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of buscar(buscarText.value)">
                    <td class="col-md-1">{{f.identificacion}}</td>
                    <td class="col-md-3">{{f.primerNombre}}</td>
                    <td class="col-md-3">{{f.primerApellido}}</td>
                    <td class="col-md-1">{{f.fechaNacimiento | date:'dd/MM/yyyy'}}</td>
                    <td class="col-md-1">{{f.genero}}</td>
                    <td class="col-md-1">{{f.nacionalidad}}</td>
                    <td class="fit">
                        <button type="button" class="btn btn-outline-primary btn-sm" (click)="editar(f)">
                            <span><fa-icon [icon]="faPencilAlt"></fa-icon></span>
                        </button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="eliminar(f)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>