<div *ngIf="isLoggedIn$ | async">
    <nav class="navbar navbar-expand-lg navbar-light sombra" style="background-color: white;">
        <a class="navbar-brand" href="/home">Entrenamiento ECMS</a>
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" (click)="isMenuCollapsed = true" routerLink="/registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="isMenuCollapsed = true" routerLink="/personas">Personas</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-info" (click)="cerrarSesion()">Cerrar Sesion</button>
                </li>
            </ul>
        </div>
    </nav>
</div>