/* You can add global styles to this file, and also import other style files */

.card {
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.3);
}